
*{
    box-sizing: border-box;
    border-collapse: collapse;
}

.recipe-page {
    max-width: 1000px;
    height: 100%;
    margin: 50px auto;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

.header{
    width: 100vw;
    border-top: 1px solid #4485;
    border-left: 1px solid #4485;
    background-color: #23232e;
    text-align: center;
}

.px-20 h1{
    height: 80px;
    font-size: 40px;
    background-color: transparent;
    text-align: center;
    margin: auto;
    padding: 10px;
    width: fit-content;
    color: white;
}

.px-20{
    margin-left: 80px;
    width: 100vw;
    padding: 0px;
}
/*
h1,
h2 {
    text-align: center;
    color: #000;
}*/

.categories{
    width: 80vw;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    margin: auto;
    justify-content: space-around;
    background-color: transparent;
    text-align: center;
    height: fit-content;
    overflow: visible;

}

.opis{
    width: 50vw;
    display: block;
    margin: 10px auto;
    text-align: center;
    height: fit-content;
    font-size: 20px;
    color: white;
    overflow:visible;
}

.categories a{
    height: 100%;
    text-align: center;
    color: black;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    border: 2px solid black;
    background-color: white;
    width: 150px;
    justify-content: center;
    align-self: center;
    vertical-align: middle;
    overflow: visible;

    margin: 20px 0 20px;
    box-sizing: border-box;
    height: fit-content;
    font-weight:600;
    transition: var(--transition-speed);
}

.categories a:hover{
    background-color: wheat;
}

.recipe-creator {
  margin-top: 30px;
}

.recipe-creator h2 {
  text-align: center;
  color: #000;
  font-weight: bold;
}

.recipe-creator form {
  display: flex;
  flex-direction: column;
}

.recipe-creator label {
  margin-top: 10px;
  font-size: 16px;
  color: #000;
}

.recipe-creator textarea,
.recipe-creator button {
  padding: 12px;
  margin: 5px 0 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  width: 100%;
  transition: border-color 0.3s;
}

.loading{
    width: 500px;
    height: 500px;
    display: block;
    color: black;
    font-size: 20px;
}
