.Loader{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    padding: 0px;
    font-size: 30px;
    font-weight: normal;
    color: black;
}