.profile-settings-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    color: black;
}

  .profile-picture {
    border-radius: 50%;
    max-width: 150px;
    margin-bottom: 20px;
    
  }
  
  .private-profile-button{
    background-color:  var(--misc-primary);
    color: #fff;
    padding: 12px;
    margin: 5px 0 20px;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: var(--transition-speed);
  }
  
  .private-profile-button:hover{
    background-color: var(--misc-secondary);
    color: #fff;
    
  }

  h2 {
    text-align: center;
    color: #333;
  }
  
  form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: fit-content;
    justify-content: center;
    align-items: center;
  }
  
  label {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
    height: fit-content;
  }
  
  input,
  select,
  button {
    padding: 12px;
    margin: 5px 0 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
    transition: border-color 0.3s;
    height: fit-content;
  }


  input:focus,
  select:focus {
    outline: none;
    border-color: #702963;
  }
  
  button {
    background-color: #702963;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #702963;
  }
  
  .profile-settings-container {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.5s ease-out forwards;
  }
  
  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .image_upload{
    height: 3rem;
  }

  .checkboxSetting{
    height: 2rem;
    height: 100%;
  }
