

.ListaAttributions{
    border: 1px solid black;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.KontjnerAttributions{
    border: 1px solid black;
    display: block;
    padding: 50px;
    border-radius: 30px;
    background-color: rgba(255,255,255,0.9);
    min-height: 300px;
}

ul{
    display: block;
    width: 100%;
    border: 0px solid black;
    padding: 0px;
}

li{
    width: fit-content;
    margin: 10px auto;
    border: 0px solid black;
    width: 100%;
    text-align: right;
}
