  body {
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  
  .app-container {
    display: flex;
    height: 91%;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  header input {
    padding: 5px;
    margin-left: 10px;
  }
  
  main {
    display: flex;
    flex: 1;
  }