
.profile-box{
    
    display: grid;
    grid-template-areas: 
    'profile connections' 
    'profile connections' ;
    grid-template-columns:  auto 200px;
    gap: 20px;

    padding: 10px;
    margin-left: 100px;
    margin-right: auto;
    /*display: flex;
    flex-direction: row;*/
    overflow: visible;
    justify-content: center;
    align-content: center;
}

.profile-full{
  grid-area: profile;
  overflow: visible;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: max-content;
  min-width: 800px;
  max-width: 1000px;
  flex-grow: 2;
  width: 100%;
}

.profile-container {
  
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin: auto;
  background-color: white;
  border-radius: 10px;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin-right: 0;
  margin-left: 0;
  overflow: visible;
  align-self:center;
}

.recipe-page {
  
  align-self:center;
  max-width: 1000px;
  height: 100%;
  margin: 50px auto;
  padding: 20px;
  font-family: 'Arial', sans-serif;
  text-align: center;
  width: 100%;
  margin-right: 0;
  margin-left: 0;
}

.connections {
  grid-area: connections;
  /*align-self: flex-start;*/
  margin-bottom: 20px;
  margin-right: 0;
 
}

.profile-button{
  background-color:  var(--misc-primary);
  color: #fff;
  padding: 12px;
  margin: 5px 0 20px;
  border-radius: 5px;
  box-sizing: border-box;
  width: 100%;
  height: fit-content;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: var(--transition-speed);
}

.profile-button:hover{
  background-color: var(--misc-secondary);
  color: #fff;
  
}

.section-title{
  font-size: medium;
  font-weight: bold;
}

.info-highlight{
  font-weight: 600;
}

.profile-picture {
  border-radius: 50%;
  max-width: 150px;
  margin-bottom: 20px;
}

.profile-name {
  color: #333;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: large;
  margin-top: 10px;
}

.profile-bio {
  color: #666;
  margin-bottom: 20px;
}

.social-icons a {
  margin: 0 10px;
  color: #333;
  text-decoration: none;
  font-size: 24px;
}



.followers,
.following {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin: 8px;
  background-color: white;
  border-radius: 10px;
  box-sizing: border-box;
  position: relative;
}

.followers h2,
.following h2 {
  color: black;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: medium;
}



