/* SingleRecipePage.css */

.single-recipe-page {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  font-family: 'Arial', sans-serif;
  
}
/*
h1 {
  text-align: center;
  color: #000;
  
}*/

.recipe-card {
  border: 2px solid black;
  padding: 16px;
  margin: 8px;
  background-color: var(--bg-primary);
  border-radius: 5px;
  box-sizing: border-box;
  position: relative;
}

.recipe-title-recipe-page{
  color: var(--text-secondary);
  font-weight: bold;
  font-size:xx-large;
  padding-bottom: 20px;
  
}

.recipe-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  
}

.recipe-details {
  padding: 20px;
  
}

.recipe-details p {
  margin: 0 0 10px;
  color: var(--text-primary);
  font-weight: bold;
}

.recipe-details ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  
}

.recipe-details li {
  margin-bottom: 5px;
  color: #000;
  
}
.recipe-button{
  background-color: purple;
  color: #fff;
  padding: 12px;
  margin: 5px 0 20px;
  border: 1px solid purple;
  border-radius: 5px;
  box-sizing: border-box;
  width: 100%;
  height: fit-content;
  overflow: hidden;
  transition: var(--transition-speed);
}

.recipe-button:hover{
  background-color: rgb(197, 1, 197);
  
}

.recipe-card:hover .recipe-buttons-flex {
  opacity: 1;
  
}


.recipe-buttons-flex{
  opacity: 0;
  position: absolute;
  left: 80%;
  display: flex;
  flex-direction: row;
  transition: var(--transition-speed);
}

.recipe-icon-button{
  height: fit-content;
  width: fit-content;
  background-color: white;

  padding: 12px;
  margin: 5px 0 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.recipe-icon-button:hover{
  height: fit-content;
  width: fit-content;
  background-color: rgb(219, 219, 219);
}

.recipe-icon-button svg {
  height: 20px;
  width: 20px;
}

.add-comment-title{
  color: rgb(102, 102, 102);
}




.recipe-form-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: var(--bg-primary);
  color: var(--text-primary);
}


h1 {
  text-align: center;
  color: var(--text-primary);
}

.section-title{
  font-size: 30px;
  color: black;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  font-size: 16px;
  color: var(--text-primary);
}

input,
select,textarea{
  padding: 12px;
  margin: 5px 0 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  color: black;
}

.image_upload{
  height: 3rem;
}

select[multiple] {
  height: auto;
}


@media (max-width: 600px) {
  .recipe-form-container {
    margin: 20px;
  }
}
